[submodule "jfc-cmake"]
	path = cmake/jfc-cmake
	url = https://github.com/jfcameron/jfc-cmake.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/gdk-math"]
	path = extern/gdk-math
    url = https://github.com/jfcameron/gdk-math.git
[submodule "extern/gdk-time"]
	path = extern/gdk-time
	url = https://github.com/jfcameron/gdk-time.git
[submodule "extern/jfc-memory"]
	path = extern/jfc-memory
	url = https://github.com/jfcameron/jfc-memory.git
[submodule "extern/gdk-windowing"]
	path = extern/gdk-windowing
	url = https://github.com/jfcameron/gdk-windowing.git
[submodule "extern/jfc-smart_handles"]
	path = extern/jfc-smart_handles
	url = https://github.com/jfcameron/jfc-smart_handles.git
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
